<?xml version="1.0"?>
<!--
/**
  * MageProfis_ShowAddressField
  *
  * @category  MageProfis
  * @package   MageProfis_ShowAddressField
  * @author    Mathis Klooss <mathis.klooss@mage-profis.de>
  * @copyright 2015 Loewenstark Web-Solution GmbH (http://www.mage-profis.de). All rights served.
  */
//-->
<config>
    <modules>
        <MageProfis_ShowAddressField>
            <version>1.0.0.0</version>
        </MageProfis_ShowAddressField>
    </modules>
    <global>
        <models>
            <mpshowaddressfield>
                <class>MageProfis_ShowAddressField_Model</class>
            </mpshowaddressfield>
        </models>
        <helpers>
            <mpshowaddressfield>
                <class>MageProfis_ShowAddressField_Helper</class>
            </mpshowaddressfield>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MageProfis_ShowAddressField>
                    <files>
                        <lsage>MageProfis_ShowAddressField.csv</lsage>
                    </files>
                </MageProfis_ShowAddressField>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <mpshowaddressfield>
                        <model>mpshowaddressfield/observer</model>
                        <method>eventShowAddressField</method>
                    </mpshowaddressfield>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </frontend>
</config>
